.link_root {
  margin: 25px;
}
.link_image_visited{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #FF0000;
}

.link_image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
