.pokeball {
    width: 150px;
    height: 150px;
    justify-content: center;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.home_content{
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.tittle{
  margin-bottom: 50px;
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
}
@media (max-width: 700px) {
  .home_content {
    flex-direction: column;
  }
}
