.pokemon_container{
  margin:auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

p{
  padding: 15px;
}

.detail_poke{
  margin-bottom: 150px;
}

.link_back{
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #729ed1;
  color: white;
  text-decoration: none;
}

.img_poke{
  margin-top: 150px;
  width: 180px;
}
