.pokemon_container{
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}

p{
  padding: 15px;
}

.detail_poke{
  margin-bottom: 150px;
}

.link_back{
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #729ed1;
  color: white;
  text-decoration: none;
}

.img_poke{
  width: 180px;
}

@media (max-width: 700px) {
  .pokemon_container {
    margin: 30px 0;
  }
  .detail_poke{
    margin-bottom: 40px;
  }
}
